Repository libopenstorage/openstorage, pull requests merged in 2018-10, with the labels that each got.

#641 Fix mount trash dir cleanup
  pkg/mount/mount.go
Labels: kind/bug, priority/P1

#644 Add EmitDefualt flag while starting grpc server.
  api/server/sdk/server.go
Labels: backport

#682 SDK can be started without objects
  api/server/sdk/alerts.go
  api/server/sdk/cloud_backup.go
  api/server/sdk/cluster.go
  api/server/sdk/cluster_test.go
  api/server/sdk/credentials.go
  api/server/sdk/identity.go
  api/server/sdk/node.go
  api/server/sdk/objectstore.go
  api/server/sdk/schedule_policy.go
  api/server/sdk/sdk_test.go
  api/server/sdk/server.go
  api/server/sdk/volume.go
  api/server/sdk/volume_node_ops.go
  api/server/sdk/volume_ops.go
  api/server/sdk/volume_snapshot.go
  csi/csisanity_test.go
  pkg/grpcserver/grpcserver.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/CHANGELOG.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/CONTRIBUTING.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/DOC.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/Gopkg.lock
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/Gopkg.toml
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/LICENSE
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/README.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/chain.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/doc.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/makefile
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/recovery/DOC.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/recovery/README.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/recovery/doc.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/recovery/interceptors.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/recovery/options.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/slack.png
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/wrappers.go
  vendor/vendor.json
Labels: backport/release-4.0

#693 Backport of 682: SDK can be started without objects
  api/server/sdk/alerts.go
  api/server/sdk/cloud_backup.go
  api/server/sdk/cluster.go
  api/server/sdk/cluster_test.go
  api/server/sdk/credentials.go
  api/server/sdk/identity.go
  api/server/sdk/node.go
  api/server/sdk/objectstore.go
  api/server/sdk/schedule_policy.go
  api/server/sdk/sdk_test.go
  api/server/sdk/server.go
  api/server/sdk/volume.go
  api/server/sdk/volume_node_ops.go
  api/server/sdk/volume_ops.go
  api/server/sdk/volume_snapshot.go
  csi/csisanity_test.go
  pkg/grpcserver/grpcserver.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/CHANGELOG.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/CONTRIBUTING.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/DOC.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/Gopkg.lock
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/Gopkg.toml
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/LICENSE
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/README.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/chain.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/doc.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/makefile
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/recovery/DOC.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/recovery/README.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/recovery/doc.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/recovery/interceptors.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/recovery/options.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/slack.png
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/wrappers.go
  vendor/vendor.json
Labels: backport/release-4.0
