Repository libopenstorage/openstorage, pull requests merged in 2021-04, with the labels that each got.

#1837 Add codeowners, sync area labels on PR update, mark stale PRs
  .github/CODEOWENRS
  .github/workflows/cron-stale.yml
  .github/workflows/on-pr.yml
Labels: area/ci, size/s, stage/in-review

#1839 Remove test line and test codeowners
  csi/csi.go
Labels: area/csi, size/xs

#1840 Update cron-stale.yml
  .github/workflows/cron-stale.yml
Labels: area/ci, size/xs

#1841 [CSI] Don't log entire request and cleanup logs
  csi/controller.go
  csi/node.go
Labels: area/csi, size/s, stage/in-review

#1846 PWX-17452 Add live option for diags collection
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
Labels: area/api, area/sdk-server, size/xl, stage/in-review

#1843 Support node security status
  SDK_CHANGELOG.md
  api/api.go
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  cluster/cluster.go
  cluster/manager/manager.go
  config/config.go
Labels: area/api, area/sdk-server, size/xl

#1834 [CSI] Compatability with CSI 1.4
  .travis.yml
  csi/controller.go
  csi/controller_test.go
  csi/csi.go
  csi/csisanity_test.go
  csi/identity.go
  csi/node.go
  csi/node_test.go
  hack/csi-sanity-test.sh
  vendor/github.com/container-storage-interface/spec/lib/go/csi/csi.pb.go
  vendor/github.com/golang/protobuf/jsonpb/jsonpb.go
  vendor/github.com/golang/protobuf/proto/decode.go
  vendor/github.com/golang/protobuf/proto/deprecated.go
  vendor/github.com/golang/protobuf/proto/encode.go
  vendor/github.com/golang/protobuf/proto/equal.go
  vendor/github.com/golang/protobuf/proto/extensions.go
  vendor/github.com/golang/protobuf/proto/lib.go
  vendor/github.com/golang/protobuf/proto/message_set.go
  vendor/github.com/golang/protobuf/proto/pointer_reflect.go
  vendor/github.com/golang/protobuf/proto/pointer_unsafe.go
  vendor/github.com/golang/protobuf/proto/properties.go
  vendor/github.com/golang/protobuf/proto/table_marshal.go
  vendor/github.com/golang/protobuf/proto/table_unmarshal.go
  vendor/github.com/golang/protobuf/proto/text.go
  vendor/github.com/golang/protobuf/proto/text_parser.go
  vendor/github.com/golang/protobuf/protoc-gen-go/descriptor/descriptor.pb.go
  vendor/github.com/golang/protobuf/protoc-gen-go/descriptor/descriptor.proto
  vendor/github.com/golang/protobuf/ptypes/any.go
  vendor/github.com/golang/protobuf/ptypes/any/any.pb.go
  vendor/github.com/golang/protobuf/ptypes/any/any.proto
  vendor/github.com/golang/protobuf/ptypes/duration.go
  vendor/github.com/golang/protobuf/ptypes/duration/duration.pb.go
  vendor/github.com/golang/protobuf/ptypes/empty/empty.pb.go
  vendor/github.com/golang/protobuf/ptypes/struct/struct.pb.go
  vendor/github.com/golang/protobuf/ptypes/timestamp.go
  vendor/github.com/golang/protobuf/ptypes/timestamp/timestamp.pb.go
  vendor/github.com/golang/protobuf/ptypes/timestamp/timestamp.proto
  vendor/github.com/golang/protobuf/ptypes/wrappers/wrappers.pb.go
  vendor/vendor.json
Labels: area/csi, size/xl, stage/in-review

#1848 Add new proto fields
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  cli/cli_test.go
Labels: area/api, area/sdk-server, size/xl, stage/in-review

#1851 Add IPv6 addr handling by adding '[]' around IPv6 connect addresses.
  cluster/manager/manager.go
Labels: size/s, stage/in-review

#1856 PWX-19496 Default to cow_on_demand for new volumes
  api/spec/spec_handler.go
  api/spec/spec_handler_test.go
Labels: area/api, size/xs, stage/in-review

#1857 Change travis email notification to control plane team
  .travis.yml
Labels: size/xs, stage/in-review

#1864 [NSTK-55] API updates to add Pure pass through volume specs into ProxySpec
  SDK_CHANGELOG.md
  api/api.go
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/spec/spec_handler.go
  api/spec/spec_handler_test.go
  csi/node.go
  csi/node_test.go
Labels: area/api, area/csi, area/sdk-server, size/xl, stage/in-review

#1858 [CSI] Add feature flag for enabling inline volumes
  csi/csi.go
  csi/node.go
  csi/node_test.go
Labels: area/csi, size/m, stage/in-review

#1863 Add timeouts to all RPCs
  Dockerfile.osd-dev
  Dockerfile.osd-dev-base
  Makefile
  api/client/request.go
  api/server/backup.go
  api/server/migrate.go
  api/server/sdk/sdk_test.go
  api/server/volume.go
  api/server/volume_test.go
  csi/controller.go
  csi/node.go
  pkg/auth/oidc.go
  pkg/defaultcontext/default.go
  pkg/defaultcontext/default_test.go
  pkg/grpcserver/grpcutil.go
  pkg/grpcutil/context.go
  pkg/grpcutil/context_test.go
Labels: area/api, area/csi, area/sdk-server, size/m, stage/in-review

#1866 [PWX-19922] Don't pass shared, sharedv4, secure parameters to Pure volume specs
  api/api.go
  csi/controller.go
  csi/controller_test.go
Labels: area/api, area/csi, size/s, stage/in-review
