Repository libopenstorage/openstorage, pull requests merged in 2021-07, with the labels that each got.

#1906 Change CSI driver logs from Debugf to Infof
  csi/controller.go
  csi/node.go
Labels: area/csi, size/s, stage/in-review

#1908 Add an option to indicate if a Detach was issued as a part of Delete
  pkg/options/options.go
Labels: size/xs, stage/approved, stage/in-review

#1910 [CSI] Move a few CSI logs back to Debugf
  csi/node.go
Labels: area/csi, size/xs, stage/in-review

#1905 [PWX-20437] Add a flag in Sharedv4ServiceSpec to indicate whether the service needs to be accessed outside of the cluster
  SDK_CHANGELOG.md
  api/api.go
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/spec/spec_handler.go
Labels: area/api, area/sdk-server, size/xl, stage/approved, stage/in-review

#1912 fixup! [PWX-20437] Add a flag in Sharedv4ServiceSpec
  api/spec/spec_handler.go
Labels: area/api, size/xs, stage/approved, stage/in-review
