Repository libopenstorage/openstorage, pull requests merged in 2021-11, with the labels that each got.

#1947 [CSI] Add capability for volume condition
  csi/controller.go
  csi/controller_test.go
Labels: stage/in-review, area/csi, size/s

#1951 Update proto version
  Dockerfile.proto
  Makefile
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/server/sdk/cloud_backup_test.go
  api/server/sdk/filesystem_check_test.go
  api/server/sdk/filesystem_trim_test.go
  cli/cli_test.go
  go.sum
  pkg/flexvolume/flexvolume.pb.go
  pkg/flexvolume/flexvolume.proto
  pkg/jsonpb/testing/testing.pb.go
  pkg/jsonpb/testing/testing.proto
  pkg/jsonpb/testing/testing_test.go
Labels: stage/in-review, size/xl, area/api, area/sdk-server

#1957 PWX-21966: Increase retry interval and timeout
  api/server/sdk/volume_ops.go
Labels: stage/in-review, area/api, area/sdk-server, size/xs, stage/approved

#1956 docker-proto: switch base image away from Fedora
  Dockerfile.proto
  Makefile
Labels: area/api, size/s

#1952 SDK: Do not assign log instance in interceptor
  api/server/sdk/server_interceptors.go
Labels: area/api, area/sdk-server, size/xs

#1959 Update .travis.yml to go 1.16 and 1.17
  .travis.yml
Labels: size/xs

#1961 PWX-22038 auto generate volume/drivers/mock/
  Makefile
Labels: stage/in-review, size/xs

#1962 Chiachun/pwx 22037 add fstrim usage api
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.pb.gw.go
  api/api.proto
  api/mock/mock_fstrim.go
  api/server/sdk/api/api.swagger.json
  api/server/sdk/filesystem_trim.go
  volume/drivers/mock/driver.mock.go
  volume/volume.go
  volume/volume_not_supported.go
Labels: stage/in-review, stage/in-review-stale, size/xl, area/api, area/sdk-server
