Repository libopenstorage/openstorage, pull requests merged in 2021-05, with the labels that each got.

#1854 [CSI] Raw Block support
  .gitignore
  csi/controller.go
  csi/controller_test.go
  csi/node.go
  csi/node_test.go
  hack/csi-sanity-test.sh
  pkg/mount/mount.go
  pkg/mount/mount_test.go
  pkg/mount/raw_mount.go
  volume/drivers/fake/fake.go
Labels: area/csi, size/l, stage/in-review

#1870 [CSI] Round volume size up to nearest GiB
  csi/controller.go
  csi/controller_test.go
Labels: area/csi, size/m, stage/in-review

#1874 [CSI] Round ControllerExpand up to nearest GiB
  csi/controller.go
  csi/controller_test.go
Labels: area/csi, size/s, stage/in-review

#1872 New error codes for cloudBackup APIs
  api/errors/errors.go
  api/server/sdk/cloud_backup.go
  api/server/sdk/cloud_backup_test.go
Labels: area/api, area/sdk-server, size/s, stage/in-review

#1876 Add cloudbackup specific busy error code
  api/errors/errors.go
  api/server/sdk/cloud_backup.go
  api/server/sdk/cloud_backup_test.go
Labels: area/api, area/sdk-server, size/s, stage/in-review

#1877 changed sharedv4 service type enum to conform to the style guide
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/spec/spec_handler.go
Labels: area/api, area/sdk-server, size/xl, stage/in-review

#1881 [CSI] Fix Volume Snapshot restore size
  csi/controller.go
Labels: area/csi, size/xs, stage/in-review, stage/in-review-stale

#1883 Revert "[CSI] Fix Volume Snapshot restore size"
  csi/controller.go
Labels: area/csi, size/xs

#1884 [CSI] Fix Volume Snapshot restore size
  csi/controller.go
Labels: area/csi, size/xs, stage/in-review

#1888 [CSI] ListSnapshots implementation
  csi/controller.go
  csi/controller_test.go
Labels: area/csi, size/m, stage/in-review

#1860 PWX-18693 osd changes for iops throttling
  SDK_CHANGELOG.md
  api/api.go
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/server/sdk/volume_ops.go
  api/server/volume.go
  api/server/volume_test.go
  api/spec/spec_handler.go
  api/spec/spec_handler_test.go
  pkg/sanity/osd_test_util.go
Labels: area/api, area/sdk-server, size/xl, stage/in-review, stage/in-review-stale

#1871 Add API to support credential update
  SDK_CHANGELOG.md
  api/api.go
  api/api.pb.go
  api/api.pb.gw.go
  api/api.proto
  api/client/volume/client.go
  api/server/creds.go
  api/server/sdk/api/api.swagger.json
  api/server/sdk/credentials.go
  api/server/sdk/credentials_test.go
  api/server/volume.go
  volume/drivers/mock/driver.mock.go
  volume/volume.go
  volume/volume_not_supported.go
Labels: area/api, area/sdk-server, size/xl, stage/in-review, stage/in-review-stale

#1886 PWX-20120: libopenstorage changes for relaxedreclaim-purge CLI
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.pb.gw.go
  api/api.proto
  api/client/volume/client.go
  api/mock/mock_node.go
  api/server/sdk/api/api.swagger.json
  api/server/sdk/node.go
  api/server/sdk/node_test.go
  volume/drivers/mock/driver.mock.go
  volume/volume.go
  volume/volume_not_supported.go
Labels: area/api, area/sdk-server, size/xl, stage/approved, stage/in-review

#1890 PWX-15391: separate out node cache update
  cluster/manager/manager.go
Labels: size/m, stage/in-review

#1880 Add Cluster Manager options to set quorum timeout and lock try duration.
  cluster/manager/manager.go
  config/config.go
Labels: size/s, stage/approved, stage/in-review, stage/in-review-stale

#1892 [CSI] Skip adding empty PVC name/namespace
  csi/controller.go
Labels: area/csi, size/s, stage/in-review
