Repository libopenstorage/openstorage, pull requests merged in 2021-06, with the labels that each got.

#1898 PWX-20172: Make sure the volume is detached before we return
  api/server/sdk/volume_ops.go
Labels: area/api, area/sdk-server, size/xs, stage/approved, stage/in-review

#1901 Remove unused fields from volume spec and VolumeState
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
Labels: area/api, area/sdk-server, size/xl, stage/approved, stage/in-review

#1902 Fix typos in CHANGELOG
  SDK_CHANGELOG.md
Labels: size/xs, stage/approved, stage/in-review

#1903 PWX-20657: allow updating the sharedv4 service spec
  api/server/volume.go
Labels: area/api, size/xs, stage/in-review
