Repository libopenstorage/openstorage, pull requests merged in 2021-12, with the labels that each got.

#1964 PWX-22125 add perform auto fstrim info
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
Labels: stage/in-review, area/api, area/sdk-server, size/s

#1965 Add helper function to get all proto enum info
  api/api.go
Labels: area/api, size/xs

#1966 correlation: fix log level for correlation log hook
  pkg/correlation/correlation_test.go
  pkg/correlation/hook.go
Labels: stage/in-review, size/s

#1968 pass remote cred uuid while calling refresh cluster pair
  api/api.go
  cluster/manager/pair.go
Labels: kind/bug, stage/in-review, stage/in-review-stale, area/api, size/xs, stage/approved
