Repository libopenstorage/openstorage, pull requests merged in 2022-12, with the labels that each got.

#2159 PWX-26915-pt1: Auto-TLS support
  volume/drivers/pwx/connection.go
  volume/drivers/pwx/connection_test.go
Labels: stage/in-review, size/m, stage/approved

#2167 Bump CSI version to 1.7
  csi/csi.go
Labels: area/csi, size/xs

#2170 Add new release branches to GitHub cherry-pick action
  .github/workflows/on-pr-merged.yml
Labels: size/s, area/ci

#2165 Remove CSI 0.3 for master
  csi/v0.3/controller.go
  csi/v0.3/controller_test.go
  csi/v0.3/csi.go
  csi/v0.3/csi_test.go
  csi/v0.3/identity.go
  csi/v0.3/identity_test.go
  csi/v0.3/node.go
  csi/v0.3/node_test.go
  csi/v0.3/spec/csi.pb.go
Labels: stage/in-review, size/xl, area/csi

#2164 CSI: Add sched filter to avoid forking sidecars
  csi/controller.go
  csi/csi.go
  csi/sched/filter.go
  csi/sched/interceptor.go
  csi/sched/k8s/k8s.go
Labels: stage/in-review, area/csi, size/m, cherry-pick/release-9.6

#2162 PWX-23422: added master reverted changes of porx
  api/api.go
  api/spec/spec_handler.go
Labels: stage/in-review, stage/in-review-stale, area/api, size/xs

#2169 PWX-26915-pt1.r2/PWX-28189: Auto-TLS support r2 (#2159)
  volume/drivers/pwx/connection.go
Labels: stage/in-review, size/s, stage/approved

#2176 Add pvc/namespace labels to cloned csi volumes
  .travis.yml
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/server/sdk/volume_ops.go
  csi/controller.go
Labels: stage/in-review, size/xl, area/api, area/csi, area/sdk-server, cherry-pick/release-9.6, cherry-pick/release-9.7
