Repository libopenstorage/openstorage, pull requests merged in 2022-06, with the labels that each got.

#2065 PWX-23728: Add Access and Revoke api to OpenStorageBucket service.
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.pb.gw.go
  api/api.proto
  api/mock/mock_bucket.go
  api/server/sdk/api/api.swagger.json
  api/server/sdk/bucket_ops.go
  api/server/sdk/bucket_ops_test.go
  api/swagger/swagger.json
  bucket/bucket.go
  bucket/drivers/fake/fake.go
  bucket/drivers/mock/bucket_driver.mock.go
Labels: stage/in-review, size/xl, area/api, area/sdk-server

#2070 PWX-24205: Extend for thin pool metadata disk in storage resource
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
Labels: stage/in-review, size/xl, area/api, area/sdk-server

#2071 cherry picked changes to release 9.3
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/status.go
Labels: stage/in-review, size/xl, area/api, area/csi, area/sdk-server

#2069 PWX-24188 Reduce logging level when docker volume is not found
  api/server/docker.go
Labels: stage/in-review, stage/in-review-stale, area/api, size/xs, stage/approved

#2072 PWX-22823: Adding S3 bucket driver backend for Access and Revoke API
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/server/sdk/bucket_ops.go
  api/server/sdk/bucket_ops_test.go
  api/swagger/swagger.json
  bucket/bucket.go
  bucket/drivers/fake/fake.go
  bucket/drivers/mock/bucket_driver.mock.go
  bucket/drivers/s3/s3.go
  vendor/github.com/aws/aws-sdk-go/service/iam/api.go
  vendor/github.com/aws/aws-sdk-go/service/iam/doc.go
  vendor/github.com/aws/aws-sdk-go/service/iam/errors.go
  vendor/github.com/aws/aws-sdk-go/service/iam/service.go
  vendor/github.com/aws/aws-sdk-go/service/iam/waiters.go
  vendor/modules.txt
Labels: stage/in-review, size/xl, area/api, area/sdk-server

#2074 PWX-23408: Added missing Pure backend volume name parsing
  api/api.go
  api/spec/spec_handler.go
Labels: stage/in-review, area/api, size/s, stage/approved

#2073 PWX-24205: extend for thin pool metadata disk
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
Labels: stage/in-review, size/xl, area/api, area/sdk-server

#2067 [CSI] Add remote conn fixes for provisioning
  api/server/sdk/server.go
  cmd/osd/main.go
  csi/controller.go
  csi/csi.go
  csi/csi_test.go
Labels: stage/in-review, stage/in-review-stale, area/api, area/csi, area/sdk-server, size/m

#2077 PWX-24264: Adding anonymous bucket access mode to create bucket api.
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/server/sdk/bucket_ops.go
  api/server/sdk/bucket_ops_test.go
  api/swagger/swagger.json
  bucket/bucket.go
  bucket/drivers/fake/fake.go
  bucket/drivers/mock/bucket_driver.mock.go
  bucket/drivers/s3/s3.go
  cosi/provisioner.go
Labels: stage/in-review, size/xl, area/api, area/sdk-server

#2079 PWX-24287: Handle user account deletion when bucket access is revoked
  bucket/drivers/s3/s3.go
Labels: stage/in-review, size/m

#2081 Fix CreateBucket and DeleteBucket errorAlreadyExists code check
  bucket/drivers/fake/fake.go
Labels: stage/in-review, size/xs

#2082 Add support for multiple bucket drivers
  api/server/sdk/credentials_test.go
  api/server/sdk/sdk_test.go
  api/server/sdk/server.go
  api/server/sdk/volume_ops_test.go
  bucket/drivers/fake/fake.go
  cmd/osd/main.go
Labels: stage/in-review, area/api, area/sdk-server, size/s
