Repository libopenstorage/openstorage, pull requests merged in 2022-01, with the labels that each got.

#1971 Added a filename to our diags collection request
  Makefile
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
Labels: stage/in-review, size/xl, area/api, area/sdk-server

#1975 add a readahead flag per vol
  SDK_CHANGELOG.md
  api/api.go
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/server/sdk/volume_ops.go
  api/server/volume.go
  api/server/volume_test.go
  api/spec/spec_handler.go
  api/spec/spec_handler_test.go
  cli/cli_test.go
  pkg/sanity/osd_test_util.go
Labels: stage/in-review, stage/in-review-stale, size/xl, area/api, area/sdk-server

#1976 Add PR makefile targets and parallelize travis
  .travis.yml
  Makefile
  hack/csi-sanity-test.sh
  hack/docker-integration-test.sh
Labels: stage/in-review, size/s

#1978 Autofstrim's default value in volume spec
  api/spec/spec_handler.go
  api/spec/spec_handler_test.go
Labels: stage/in-review, area/api, size/s
