Repository libopenstorage/openstorage, pull requests merged in 2022-08, with the labels that each got.

#2094 SDK cloudbackup delete api changes
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/server/sdk/cloud_backup.go
Labels: stage/in-review, size/xl, area/api, area/sdk-server

#2092 Pwx 18467 - expose TLS port
  volume/drivers/pwx/connection.go
  volume/drivers/pwx/connection_test.go
Labels: stage/in-review, size/m, stage/approved

#2096 PWX-26155: Setting default region for purefb in case of missing region.
  api/server/sdk/bucket_ops.go
  api/server/sdk/bucket_ops_test.go
Labels: stage/in-review, area/api, area/sdk-server, size/m

#2095 NFS credential support
  SDK_CHANGELOG.md
  api/api.go
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/server/sdk/credentials.go
  api/server/sdk/credentials_test.go
Labels: stage/in-review, stage/in-review-stale, size/xl, area/api, area/sdk-server

#2099 PWX-26324: extend fastpath config for disabling auto fallback
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
Labels: stage/in-review, size/xl, area/api, area/sdk-server

#2102 PWX-26406-pt1: Optimizing NodeUnpublishVolume
  csi/node.go
  csi/node_test.go
Labels: stage/in-review, area/csi, size/s, stage/approved

#2104 PWX-26615: avoid scheduling duplicate mountpath removal tasks
  pkg/mount/mount.go
Labels: stage/in-review, size/xs

#2103 PWX-26578: fix the slow task scheduling when runOnce tasks are present
  pkg/sched/sched.go
  pkg/sched/sched_test.go
Labels: stage/in-review, size/m

#2106 Adds a missing method that slipped into Porx directly
  api/api.go
Labels: stage/in-review, area/api, size/s, stage/approved
