Repository libopenstorage/openstorage, pull requests merged in 2022-02, with the labels that each got.

#1979 Add CSI capability to support topology
  csi/identity.go
  csi/identity_test.go
  csi/node.go
Labels: stage/in-review, area/csi, size/s

#1980 Enforce ClusterPair mode as DisasterRecovery when it is set on ClusterListener
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  cluster/cluster.go
  cluster/cluster_not_supported.go
  cluster/manager/pair.go
Labels: stage/in-review, size/xl, area/api, area/sdk-server, stage/approved

#1995 PWX-22796: renumber the fields in api.proto to match the release branch
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
Labels: stage/in-review, area/api, area/sdk-server, size/m

#1996 PWX-22500 Return topology information in CSI GetNodeInfo
  SDK_CHANGELOG.md
  api/api.go
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/server/sdk/node_test.go
  csi/node.go
  csi/node_test.go
Labels: stage/in-review, size/xl, area/api, area/csi, area/sdk-server, stage/approved

#1942 Spec handler: Add an API to generate RestoreVolumeSpec from opaque options.
  api/spec/spec_handler.go
  api/spec/spec_handler_test.go
Labels: stage/in-review, stage/in-review-stale, area/api, size/m, lifecycle/stale, stage/approved

#1998 Only update size for k8s set requests
  api/server/volume.go
Labels: stage/in-review, stage/in-review-stale, area/api, size/s

#2000 [CSI] Add extra idempotency check for resizing
  csi/controller.go
  csi/controller_test.go
Labels: stage/in-review, area/csi, size/s
