Repository libopenstorage/openstorage, pull requests merged in 2022-10, with the labels that each got.

#2125 [CSI] Change log level for UnpublishVolume mount delete fail
  csi/node.go
Labels: stage/in-review, area/csi, size/xs

#2124 PWX-27439-pt1 Pass trashlocation in NFS mount
  pkg/mount/mount.go
  pkg/mount/nfs.go
Labels: stage/in-review, size/s, stage/approved

#2126 Add dependabot action to stay up to date on dependencies
  .github/dependabot.yml
Labels: size/s, area/ci

#2129 Remove problematic go.pedge.io dependency
  go.mod
  go.sum
  vendor/go.pedge.io/pb/LICENSE
  vendor/go.pedge.io/pb/go/google/protobuf/api.pb.go
  vendor/go.pedge.io/pb/go/google/protobuf/field_mask.pb.go
  vendor/go.pedge.io/pb/go/google/protobuf/source_context.pb.go
  vendor/go.pedge.io/pb/go/google/protobuf/type.pb.go
  vendor/go.pedge.io/proto/LICENSE
  vendor/go.pedge.io/proto/time/prototime.go
  vendor/modules.txt
  volume/drivers/btrfs/btrfs.go
Labels: stage/in-review, size/xl

#2139 Only run "branch" job on master and release-x.y
  .travis.yml
Labels: stage/in-review, size/xs, stage/approved

#2128 FA DirectAccess CreateOptions is not honored by PX
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
Labels: stage/in-review, size/xl, area/api, area/sdk-server, area/ci
