Repository libopenstorage/openstorage, pull requests merged in 2022-05, with the labels that each got.

#2049 PWX-23689: surface error from Unmount when path is not mounted
  pkg/mount/mount.go
Labels: stage/in-review, size/xs

#2051 Update makefile targets to install dependencies w/ new Go versions
  Makefile
  api/swagger/swagger.json
Labels: stage/in-review, size/xl, area/api

#2052 PWX-23690: missed pool maintenance severity
  api/status.go
Labels: stage/in-review, area/api, size/xs

#2056 PWX-24039: Blocks FA Raw Block volume creation
  csi/controller.go
Labels: stage/in-review, area/csi, size/xs, stage/approved

#2054 PWX-23727: Adding Create and Delete api for OpenStorageBucket service.
  Makefile
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.pb.gw.go
  api/api.proto
  api/mock/mock_bucket.go
  api/server/sdk/api/api.swagger.json
  api/server/sdk/bucket_ops.go
  api/server/sdk/bucket_ops_test.go
  api/server/sdk/sdk_test.go
  api/server/sdk/server.go
  bucket/drivers/mock/bucket_driver.mock.go
Labels: stage/in-review, stage/in-review-stale, size/xl, area/api, area/sdk-server

#2048 Add CSI VolumeCreate node round-robin
  csi/controller.go
  csi/controller_test.go
  csi/csi.go
  csi/csi_test.go
Labels: stage/in-review, stage/in-review-stale, area/csi, size/m

#2060 Add cherry-pick action for release branches
  .github/workflows/on-pr-merged.yml
Labels: size/s, area/ci, cherry-pick/release-9.4, cherry-pick/release-9.3

#2066 Register bucket server on rest gateway and update handler on sdk server.
  api/server/sdk/rest_gateway.go
  cmd/osd/main.go
Labels: stage/in-review, area/api, area/sdk-server, size/xs
