Repository libopenstorage/openstorage, pull requests merged in 2023-09, with the labels that each got.

#2332 Add pool rebalance schedule related APIs
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.pb.gw.go
  api/api.proto
  api/mock/mock_storagepool.go
  api/server/sdk/api/api.swagger.json
  api/server/sdk/storagepool.go
  cluster/manager/manager.go
  cluster/mock/cluster.mock.go
  pkg/storagepool/storagepool.go
Labels: stage/in-review, size/xl, area/api, area/sdk-server

#2322 PWX-32881: [CSI] Add CSI socket auto-recover when deleted
  csi/csi.go
  csi/csi_test.go
  pkg/grpcserver/grpcserver.go
Labels: stage/in-review, area/csi, size/m, cherry-pick/release-9.8

#2339 PWX-33631: Remove global lock on getRemoteConn
  csi/csi.go
Labels: stage/in-review, area/csi, size/s

#2293 PWX-30476: Upgrade GetMounts call to use the latest
  go.mod
  pkg/mount/bind_mount.go
  pkg/mount/consistent_read.go
  pkg/mount/device.go
  pkg/mount/device_test.go
  pkg/mount/mount.go
  pkg/mount/nfs.go
  pkg/mount/raw_mount.go
  vendor/github.com/docker/docker/pkg/mount/deprecated.go
  vendor/github.com/docker/docker/pkg/mount/deprecated_linux.go
  vendor/github.com/docker/docker/pkg/mount/deprecated_unix.go
  vendor/modules.txt
Labels: stage/in-review, size/m, stage/approved

#2345 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/s, area/ci
