Repository libopenstorage/openstorage, pull requests merged in 2023-04, with the labels that each got.

#2256 PWX-29582: extension for fetching volume usage for multi volumes from a node
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.pb.gw.go
  api/api.proto
  api/client/volume/client.go
  api/server/sdk/api/api.swagger.json
  api/server/sdk/volume_ops.go
  api/server/volume.go
  volume/drivers/fake/fake.go
Labels: stage/in-review, size/xl, area/api, area/sdk-server

#2257 Add 3 new fields to the cloud buckup size API
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/server/sdk/cloud_backup.go
  api/server/sdk/cloud_backup_test.go
Labels: stage/in-review, size/xl, area/api, area/sdk-server

#2261 PWX-30083: Optional way to purge alerts
  alerts/alerts.go
  alerts/alerts_test.go
  alerts/api.go
  alerts/opt.go
Labels: stage/in-review, size/s, stage/approved

#2262 [CSI] Move ControllerGetVolume log to be Tracef
  csi/controller.go
Labels: stage/in-review, area/csi, size/xs, stage/approved, cherry-pick/release-9.7

#2264 Remove cred check for nearsync
  api/server/sdk/cloud_backup.go
Labels: stage/in-review, area/api, area/sdk-server, size/xs, stage/approved

#2266 Add unittest for cloudbackupcreate for nearsync
  api/server/sdk/cloud_backup_test.go
Labels: stage/in-review, area/api, area/sdk-server, size/s, stage/approved
