Repository libopenstorage/openstorage, pull requests merged in 2023-08, with the labels that each got.

#2312 Fix cred inspect nil on empty map
  api/server/sdk/credentials.go
Labels: stage/in-review, area/api, area/sdk-server, size/xs, stage/approved

#2300 Windows share support without using controller publish
  api/api.go
  api/server/sdk/volume_ops.go
  api/spec/spec_handler.go
  api/spec/spec_handler_test.go
Labels: stage/in-review, area/api, area/sdk-server, size/s, stage/approved

#2318 Add some consts to be used for proxy mounts
  api/api.go
Labels: stage/in-review, area/api, size/s, stage/approved

#2320 Add start and stop volumeWatcher
  api/client/volume/client.go
  api/server/sdk/sdk_test.go
  api/server/sdk/server.go
  api/server/sdk/watcher.go
  csi/csi_test.go
  volume/drivers/buse/buse.go
  volume/drivers/fake/fake.go
  volume/drivers/fuse/volume_driver.go
  volume/drivers/mock/driver.mock.go
  volume/drivers/nfs/nfs.go
  volume/drivers/vfs/vfs.go
  volume/volume.go
Labels: stage/in-review, area/api, area/csi, area/sdk-server, size/s, stage/approved

#2330 PWX-33379
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
Labels: stage/in-review, size/xl, area/api, area/sdk-server, stage/approved
