Repository libopenstorage/openstorage, pull requests merged in 2023-07, with the labels that each got.

#2291 PWX-32052: Enable the raw block volume feature for FADA
  csi/controller.go
Labels: stage/in-review, area/csi, size/s

#2292 Add Auto Journal IO profile
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
Labels: stage/in-review, size/xl, area/api, area/sdk-server, stage/approved

#2281 Adding Watch API and initial implementation
  Makefile
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.pb.gw.go
  api/api.proto
  api/client/volume/client.go
  api/mock/mock_watch.go
  api/server/sdk/api/api.swagger.json
  api/server/sdk/rest_gateway.go
  api/server/sdk/sdk_test.go
  api/server/sdk/server.go
  api/server/sdk/volume_ops.go
  api/server/sdk/volume_ops_test.go
  api/server/sdk/watcher.go
  api/server/sdk/watcher_test.go
  pkg/role/sdkserviceapi.go
  volume/drivers/buse/buse.go
  volume/drivers/common/default_store_enumerator.go
  volume/drivers/fake/fake.go
  volume/drivers/fuse/volume_driver.go
  volume/drivers/mock/driver.mock.go
  volume/drivers/nfs/nfs.go
  volume/drivers/vfs/vfs.go
  volume/volume.go
Labels: stage/in-review, stage/in-review-stale, size/xl, area/api, area/sdk-server

#2294 Add mode field to SdkStorageRebalanceRequest
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
Labels: stage/in-review, size/xl, area/api, area/sdk-server

#2274 PWX-31645 remove required path arg for fstrim
  api/server/sdk/filesystem_trim.go
Labels: stage/in-review, stage/in-review-stale, area/api, area/sdk-server, size/s

#2296 fix watcher test
  api/server/sdk/sdk_test.go
Labels: stage/in-review, area/api, area/sdk-server, size/s, stage/approved

#2297 PWX-32459: Add missing REST handlers to openstorage SDK server
  Makefile
  api/server/sdk/rest_gateway.go
  hack/check-registered-rest.sh
Labels: stage/in-review, area/api, area/sdk-server, size/s, cherry-pick/release-9.7, cherry-pick/release-9.8

#2271 feat: create cloud backup
  Makefile
  api/mock/mock_cloud_backup.go
  csi/controller.go
  csi/controller_test.go
  csi/csi.go
  pkg/loadbalancer/mock/balancer.go
Labels: stage/in-review, stage/in-review-stale, area/api, area/csi, area/sdk-server, size/l

#2301 Add streaming client mocks
  Makefile
  api/mock/mock_watch.go
Labels: stage/in-review, area/api, size/m, stage/approved

#2295 Add field for enabling SSE for aws creds
  SDK_CHANGELOG.md
  api/api.go
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/server/sdk/credentials.go
  api/server/sdk/credentials_test.go
Labels: stage/in-review, size/xl, area/api, area/sdk-server, stage/approved

#2308 PWX-23536: fix to block the rawblock request for FBDA.
  csi/controller.go
Labels: stage/in-review, area/csi, size/s
