Repository libopenstorage/openstorage, pull requests merged in 2023-12, with the labels that each got.

#2378 PWX-35277: copy auth token to the outgoing gRPC metadata
  api/server/sdk/volume_migrate.go
Labels: stage/in-review, area/api, area/sdk-server, size/xs

#2382 fix: rebuild connection cache on timeout
  api/client/client.go
Labels: stage/in-review, area/api, size/s

#2383 fix: throw error if volume is down state and with pending status, it might not recover
  api/server/sdk/volume_ops.go
Labels: stage/in-review, area/api, area/sdk-server, size/xs

#2384 Fix spec handler and change internal name for fs format options
  SDK_CHANGELOG.md
  api/api.go
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/spec/spec_handler.go
Labels: stage/in-review, area/api, area/sdk-server, size/s, stage/approved

#2385 Add defrag status data structures
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
Labels: stage/in-review, size/xl, area/api, area/sdk-server

#2390 PWX-35430: Honor cluster domains in round-robin balancer.
  api/api.go
  pkg/loadbalancer/balancer.go
  pkg/loadbalancer/mock/balancer.go
  pkg/loadbalancer/roundrobin.go
  pkg/loadbalancer/roundrobin_test.go
Labels: stage/in-review, area/api, size/m, stage/approved

#2392 PWX-35452: Fix mount/unmount race by using MountsInProgress to track …
  pkg/mount/mount.go
Labels: stage/in-review, size/s, stage/approved

#2394 PWX-35451-pt2: NFS-proxy volumes fix
  api/api.go
Labels: stage/in-review, area/api, size/xs, stage/approved
