Repository libopenstorage/openstorage, pull requests merged in 2023-10, with the labels that each got.

#2337 Add fastpath verbose field to fastpath config
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
Labels: stage/in-review, stage/in-review-stale, size/xl, area/api, area/sdk-server, stage/approved

#2351 fix: chattr exits with status 1 for files that are not permitted without force flag
  pkg/chattr/chattr.go
Labels: stage/in-review, stage/in-review-stale, size/s

#2352 Add cpu cores to storage node
  SDK_CHANGELOG.md
  api/api.go
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  cli/cluster.go
  cluster/manager/manager.go
Labels: stage/in-review, size/xl, area/api, area/sdk-server, stage/approved

#2357 PWX-33647: Export parseInfoFile
  pkg/mount/consistent_read.go
Labels: size/xs, stage/approved

#2358 PWX-34326: CSI - fix GetPluginInfo version for CSI
  csi/identity.go
Labels: area/csi, size/xs, cherry-pick/release-9.7, cherry-pick/release-9.8

#2356 Add volume id, gotten from mount request, to the mountpath
  api/server/docker.go
Labels: stage/in-review, area/api, size/s, stage/approved

#2366 PWX-34315: Add IsPureBlockVolume() interface
  api/api.go
Labels: stage/in-review, area/api, size/s, stage/approved

#2367 PWX-28654 Add quorum member flag to the StorageNode SDK object
  SDK_CHANGELOG.md
  api/api.go
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
  api/server/sdk/node_test.go
  cluster/cluster.go
  cluster/manager/manager.go
Labels: stage/in-review, size/xl, area/api, area/sdk-server
