Repository libopenstorage/openstorage, pull requests merged in 2023-02, with the labels that each got.

#2205 PWX-29061: Add NearSync related fields
  SDK_CHANGELOG.md
  api/api.go
  api/api.pb.go
  api/api.proto
  api/errors/errors.go
  api/server/backup.go
  api/server/sdk/api/api.swagger.json
  api/server/sdk/cloud_backup.go
  api/server/sdk/volume_ops.go
  api/server/volume.go
Labels: stage/in-review, size/xl, area/api, area/sdk-server, stage/approved

#2207 [csi/sched] PWX-29171: Fix error formatting to use error received
  csi/sched/interceptor.go
Labels: stage/in-review, area/csi, size/xs, cherry-pick/release-9.6, cherry-pick/release-9.7

#2213 CSI: Cleanup failed snapshot and re-create on next retry
  csi/controller.go
  csi/controller_test.go
Labels: stage/in-review, area/csi, size/s, cherry-pick/release-9.6, cherry-pick/release-9.7

#2217 Revert "CSI: Cleanup failed snapshot and re-create on next retry"
  csi/controller.go
  csi/controller_test.go
Labels: area/csi, size/s

#2218 CSI: Cleanup failed snapshot and re-create on next retry
  csi/controller.go
  csi/controller_test.go
Labels: area/csi, size/s, cherry-pick/release-9.6, cherry-pick/release-9.7

#2222 Updates a log line in ClusterManager to help clarify tests
  cluster/manager/manager.go
Labels: stage/in-review, size/xs, stage/approved, cherry-pick/release-9.7

#2228 PWX-23290: handle spec updates with stale config
  api/server/sdk/volume_ops.go
  api/server/sdk/volume_ops_test.go
  api/server/sdk/volume_snapshot_test.go
  csi/controller.go
  csi/controller_test.go
  volume/drivers/fake/fake.go
Labels: stage/in-review, area/api, area/csi, area/sdk-server, size/m

#2225 Chiachun/pwx 29274 osd nearsync clone state
  SDK_CHANGELOG.md
  api/api.go
  api/api.pb.go
  api/api.proto
  api/errors/errors.go
  api/server/backup.go
  api/server/sdk/api/api.swagger.json
  api/server/sdk/cloud_backup.go
Labels: stage/in-review, size/xl, area/api, area/sdk-server
