Repository libopenstorage/openstorage, pull requests merged in 2023-11, with the labels that each got.

#2349 PWX-33692 Add new CLI to trigger checksum validation
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.pb.gw.go
  api/api.proto
  api/client/volume/client.go
  api/server/sdk/api/api.swagger.json
  api/server/sdk/rest_gateway.go
  api/server/sdk/server.go
  api/server/sdk/verify_checksum.go
  volume/drivers/buse/buse.go
  volume/drivers/fake/fake.go
  volume/drivers/fuse/volume_driver.go
  volume/drivers/mock/driver.mock.go
  volume/drivers/nfs/nfs.go
  volume/drivers/vfs/vfs.go
  volume/volume.go
  volume/volume_not_supported.go
Labels: stage/in-review, size/xl, area/api, area/sdk-server, stage/approved

#2353 Openstorage changes for new fsck CLI - List snaps, Delete snaps, List vols
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.pb.gw.go
  api/api.proto
  api/mock/mock_fscheck.go
  api/server/sdk/api/api.swagger.json
  api/server/sdk/filesystem_check.go
  api/server/sdk/filesystem_check_test.go
  volume/drivers/mock/driver.mock.go
  volume/volume.go
  volume/volume_not_supported.go
Labels: stage/in-review, stage/in-review-stale, size/xl, area/api, area/sdk-server

#2372 PWX-34423: Add checksummed flag to volume spec
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
Labels: stage/in-review, size/xl, area/api, area/sdk-server, stage/approved

#2376 [PWX-34442] Update Error message, remove labels
  api/errors/errors.go
Labels: stage/in-review, area/api, size/xs

#2375 Add a new type of Job: DefragJob
  SDK_CHANGELOG.md
  api/api.pb.go
  api/api.proto
  api/server/sdk/api/api.swagger.json
Labels: stage/in-review, stage/in-review-stale, size/xl, area/api, area/sdk-server
