Repository libopenstorage/openstorage, pull requests merged in 2024-08, with the labels that each got.

#2464 PWX-38585: Removes extra pod name label
  api/server/docker.go
  api/server/sdk/volume_ops.go
  csi/controller.go
  csi/controller_test.go
Labels: stage/in-review, area/api, area/csi, area/sdk-server, size/m, stage/approved

#2472 PWX-38611 : Replacing gob.Register with gob.RegisterName
  cluster/manager/manager.go
Labels: stage/in-review, size/xs, stage/approved

#2474 PWX-38611 : Replacing gob.Register with gob.RegisterName while passing the actual path from PX
  api/client/cluster/client.go
  cluster/cluster.go
  cluster/cluster_not_supported.go
  cluster/manager/manager.go
  cluster/manager/manager_test.go
  cluster/mock/cluster.mock.go
  cmd/osd/main.go
Labels: stage/in-review, area/api, size/s, stage/approved
