Repository libopenstorage/openstorage, pull requests merged in 2024-09, with the labels that each got.

#2481 PWX-38585: Adds additional labels to clone requests
  api/server/volume.go
Labels: stage/in-review, area/api, size/xs, stage/approved

#2479 PWX-37595: honour force flag over node status
  Makefile
  cluster/cluster.go
  cluster/manager/manager.go
  cluster/manager/manager_test.go
  cluster/mock/cluster_listener.mock.go
Labels: stage/in-review, stage/in-review-stale, size/m

#2484 Add SpeedUpForUT function to sched package
  pkg/sched/intervals.go
Labels: stage/in-review, size/xs
